In [2]:
#1. accept percentage display grade
subject=int(input("enter the marks"))
if(subject>90):
    print("A")
elif((subject>80)&(subject<=90)):
    print("B")
elif((subject>=60)&(subject<=80)):
    print("C")
elif(subject<60):
    print("D")

enter the marks 50

D

In [3]:
#2. accept cost display tax
cost=int(input("enter the price"))
if(cost>100000):
    print("tax is 15%")
elif((cost>50000)&(cost<=100000)):
    print("tax is 10%")
elif(cost<=50000):
    print("tax i 5%")

enter the price 40000

tax i 5%

In [4]:
#3. accept city display monuments
place=input("name of the city")
if(place=="Delhi"):
    print("Red Fort")
elif(place=="Agra"):
    print("Taj Mahal")
elif(place=="Jaipur"):
    print("Jal Mahal")

name of the city Delhi

Red Fort

In [5]:
#4. 
n=int(input("enter a  number"))
c=0
while(n>10):
    n=n/3
    c=c+1
print(c)

enter a  number 93

3

In [1]:
#5. 
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [2]:
#6.
i = 1
while i <= 4 :
    j = 0
    while  j <= 3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [4]:
i=1
while i<=5:
    j=1
    while j<=i:
        print(j,end=" ")
        j=j+1
    print("")
    i=i+1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [5]:
i = 1
while i <= 4 :
    j = 0
    while  j <= 3 :
        k = 0
        while  k <= 5 :
            print(i*j*k, end=" ")
            k += 1
        print()
        j += 1
    print()
    i+=1

0 0 0 0 0 0
0 1 2 3 4 5
0 2 4 6 8 10
0 3 6 9 12 15

0 0 0 0 0 0
0 2 4 6 8 10
0 4 8 12 16 20
0 6 12 18 24 30

0 0 0 0 0 0
0 3 6 9 12 15
0 6 12 18 24 30
0 9 18 27 36 45

0 0 0 0 0 0
0 4 8 12 16 20
0 8 16 24 32 40
0 12 24 36 48 60

In [7]:
#7.
i = 10
while i > 0:
    print(i,end=" ")
    i = i - 1

10 9 8 7 6 5 4 3 2 1