In [38]:
#1. LAMBDA FUNCTION 
players = [("Sachin Tendulkar",34357),("Ricky Ponting",27483),("Jack Kallis",25534), ("Virat Kohli",24936)]
print(players)

newList = sorted(players, key = lambda x : x[1])
print("sorted list: ",newList)

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sorted list:  [('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [15]:
#2. SQUARE OF NUMBERS USING MAP FUNCTION
nums = [1,2,3,4,5,6,7,8,9,10]
print("Original List: ",nums)
result = map(square_num, nums)
print("Square the elements:")
print(list(result))

Original List:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Square the elements:
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
#3. converting tuple into string
nums=[1,2,3,4,5,6,7,8,9,10]
func=lambda x:str(x)
tuple(map(func,nums))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [10]:
#4. multiply elements using reduce function
import functools
import operator
num=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
print(functools.reduce(operator.mul,num))

15511210043330985984000000

In [20]:
#5. list division using filter function 
num_list = [2,3,6,9,27,60,90,120,55,46]
result = list(filter(lambda x: (x % 2 == 0 & x%3==0), num_list))
print(result)

[2, 6, 60, 90, 120, 46]

In [22]:
#6. palindrome string using lambda and filter function
my_list = ['python', 'php', 'aba', 'radar', 'level']
result = list(filter(lambda x: (x == "".join(reversed(x))), my_list)) 
print(result)

['php', 'aba', 'radar', 'level']